@media(min-width:768px){
    .container-one {
        display: flex;
        /* align-items: flex-end;
        align-items: flex-start; */
        justify-content: space-around;
        /* flex-direction: column;  */
        /* for make box jos kroum */
    }
}
.container-one div{
    padding: 1px;
    border: 1px solid #ccc;
    /* width: 30%; */ flex-basis: 30%;
}
/* .box-1{
    flex: 1;
}
.box-2{
    flex: 2;
}
.box-3{
    flex: 1;
/* } style of each box*/ 